/Creational Patterns/Prototype_Pattern/nbproject/private/
/Creational Patterns/Prototype_Pattern/build/
/Creational Patterns/Builder_Pattern/nbproject/private/
/Creational Patterns/Builder_Pattern/build/
/Creational Patterns/Abstract_Factory_Pattern/nbproject/private/
/Creational Patterns/Abstract_Factory_Pattern/build/